/nbproject/private/
/app/config/parameters.yml
/var/
!/var/logs/.gitkeep
!/var/cache/.gitkeep
/phpunit.xml
/composer.phar
/vendor/
/web/bundles/
/node_modules/
/web/js/
/assets/vendors/
/web/dist/
/web/build/
/web/test/