# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    application_name: EPBOutage
    site_name: epboutage.info
    site_url: http://www.epboutage.info

    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mongo_database_name: REPLACE_ME
    mongo_database_server: mongodb://localhost:27017

    mongo.session.options:
        database: "%mongo_database_name%"
        collection: sessions

    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: smtp
    mailer_host: REPLACE_ME
    mailer_port: REPLACE_ME
    mailer_sender: no-reply@epboutage.info
    mailer_user: REPLACE_ME
    mailer_password: REPLACE_ME
    mailer_encryption: tls
    mailer_recevier: REPLACE_ME
    mailer_noreply: noreply@epboutage.info
    locale: en
    # en: en
    recaptcha_public_key: 6Lf12xEUAAAAAEvfkj8iFiazZ5FmRTdkthAb937V
    recaptcha_private_key: 6Lf12xEUAAAAAEYPPW-9Lz9sDVRZZBOEO-ERHW9_

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    epb_api_urls: 
        mobile_detail_restores: https://api.epb.com/mobile/android/v1/outages/restores
        mobile_detail_boundaries: https://api.epb.com/mobile/android/v1/outages/boundaries
        mobile_detail_incidents: https://api.epb.com/mobile/android/v1/outages/incidents
        #website_old_outages: https://epb.com/api/v3/outages
    google_analytics_key: REPLACE_ME
    google_api_key: REPLACE_ME
    google_map:
        zoom: 10
        center_location: 
            lat: 35.117331
            lng: -85.249493