@import "variables.scss";
@import "mixins.scss";

@import "purecss-sass/vendor/assets/stylesheets/purecss/grids";
@import "purecss-sass/vendor/assets/stylesheets/purecss";

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
}

*, ::before, ::after, .pure-g > div {
    box-sizing: border-box;
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: Arial, Helvetica, sans-serif, 'Orbitron';
}

body {
    background: color(primary, light);
}