{% extends '::layout.html.twig' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <p>EPBOutage was created to compensate for the need of a better way to view EPB's power outages.</p>
        </div>
    </div>
{% endblock %}