{% extends '::layout.html.twig' %}

{% block javascript %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap"></script>
    <script>
        var mapReady = true;
        var mapLoaded = false;
        var outageMap = null;
        function initMap() {
            loadMap();
        }
 
        function loadMap() {
            if (!mapLoaded && outageMap) {
                outageMap.load();
                outageMap.loadOutageData();
                mapLoaded = true;
            }
        }
        
        $(document).ready(function () {
            var map = $('#map');
            var metricsTableElement = $('#metrics-table > tbody');
            outageMap = new OutageMap(map, metricsTableElement, map.data('zoom'), map.data('center-location'));
            loadMap();
            
            var mySlider = $("input[name='outage-picker']");
            var latestOutages = mySlider.data('latest-outages');
            
            var ticks = [];
            var ticksLabels = [];
            
            var tick = 0;
            _.each(latestOutages, function(v) {
                ticks.push(++tick);
                console.log(new Date(v.updatedOn.sec*1000))
                var date = new Date(v.updatedOn.sec*1000); 
                ticksLabels.push(date.toISOString());
            });
            
            mySlider.slider({
                min: 1,
                max: latestOutages.length,
                step: 1,
                value: latestOutages.length,
                ticks: ticks,
                ticks_labels: ticksLabels
            });
            
            

        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <input type="text" name="outage-picker" data-latest-outages="{{ latestOutages|json_encode() }}" data-provide="slider" data-slider-tooltip="hide">
            <div id="map" data-zoom="{{ google_map.zoom }}" data-center-location="{{ google_map.center_location|json_encode() }}"></div>
        </div>
        <div class="col-md-2">
            <h3>Metrics</h3>
            <table id="metrics-table" class="table table-striped">
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}