{% extends '::layout.html.twig' %}

{% block javascript %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=initMap"></script>
    <script>
        var mapReady = true;
        var mapLoaded = false;
        var outageMap = null;
        function initMap() {
            loadMap();
        }
 
        function loadMap() {
            if (!mapLoaded && outageMap) {
                outageMap.load();
                outageMap.loadOutageData();
                mapLoaded = true;
            }
        }
        
        $(document).ready(function () {
            var map = $('#map');
            outageMap = new OutageMap(map, map.data('zoom'), map.data('center-location'));
            loadMap();
        });
    </script>
{% endblock %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">EPBOutage</h1>
            <p class="lead">A EPB outage viewer</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
            <div id="map" data-zoom="{{ google_map.zoom }}" data-center-location="{{ google_map.center_location|json_encode() }}"></div>
        </div>
    </div>
{% endblock %}