{% extends '::layout.html.twig' %}

{% block content %}
    <div style="margin: 0 auto; width: 20%;">
        <div class="alert alert-success">
            Successfully removed from our mailing list.
        </div>

        <p>
            Don't worry, we really mean removed as we have zero interest in your data.<br>
            The only data we &quot;keep&quot; is from Google analytics, so if you got any issues with data collection, take it up with them. :)
        </p>
    </div>
{% endblock %}