<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="A EPB outage tracker">
        <meta name="author" content="Curtisdhi">
        <link rel="icon" href="{{ asset('favicon.ico') }}">

        <title>{% block title %}EPBOutage{% endblock %}</title>
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascript %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>
